body {
  background: #ffeef6;
  margin: 0;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.container {
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #461a2b;
}

.subtitle {
  color: #6b3855;
  margin-bottom: 20px;
}

.qr {
  width: 250px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.buttons {
  margin-top: 20px;
}

.btn {
  background: #ff6fa8;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.btn-outline {
  border: 2px solid #333;
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
/* Logo Styling */
.logo-container {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -10px;
}

.logo-img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
